.details {
  margin: 2rem auto;
  width: 30vw;
  text-align: center;
}

.details .input {
  padding: 0.5rem;
  font-size: 1.25rem;
  outline: none;
  border: 2px solid transparent;
  background-color: rgba(0, 0, 0, 0.025);
  border-radius: 0.25rem;
  color: crimson;
  width: 100%;
  transition-duration: 0.3s;
}

.details .input:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.details .input:focus {
  background-color: rgba(0, 0, 0, 0.075);
}

.details .input.title::placeholder {
  color: crimson;
}

.details .input.body::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.details .input.body::-webkit-scrollbar {
  display: none;
}

.details button.input:hover {
  cursor: pointer;
}

.details .input:focus {
  border: 2px solid transparent;
}

.details button.input {
  margin-top: 1rem;
}

.details .title {
  margin-bottom: 0.75rem;
}

.details .body {
  height: 65vh;
  resize: none;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1rem;
}

.details .back {
  margin-bottom: 1rem;
}